<a href="https://colab.research.google.com/github/hitesha14/Rising2021_Timeseries/blob/main/Copy_of_CNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn import preprocessing
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Conv1D
from tensorflow.keras.layers import MaxPool1D
from tensorflow.keras.layers import Dropout
tf.random.set_seed(123)
np.random.seed(123)

In [ ]:
df = pd.read_csv(r'https://api.covid19india.org/csv/latest/case_time_series.csv')

In [ ]:
df.head()

              Date    Date_YMD  ...  Daily Deceased  Total Deceased
0  30 January 2020  2020-01-30  ...               0               0
1  31 January 2020  2020-01-31  ...               0               0
2  1 February 2020  2020-02-01  ...               0               0
3  2 February 2020  2020-02-02  ...               0               0
4  3 February 2020  2020-02-03  ...               0               0

[5 rows x 8 columns]

In [ ]:
df.describe()

       Daily Confirmed  Total Confirmed  ...  Daily Deceased  Total Deceased
count       478.000000     4.780000e+02  ...      478.000000      478.000000
mean      54995.529289     6.294503e+06  ...      617.089958    87415.654812
std       87250.607082     6.199014e+06  ...      895.591405    75238.905902
min           0.000000     1.000000e+00  ...        0.000000        0.000000
25%        7371.250000     1.673925e+05  ...      100.000000     4777.250000
50%       23662.000000     5.858972e+06  ...      342.000000    92279.500000
75%       61675.500000     1.063689e+07  ...      775.000000   152591.750000
max      414280.000000     2.628786e+07  ...     4529.000000   294969.000000

[8 rows x 6 columns]

In [ ]:
df.describe()

       Daily Confirmed  Total Confirmed  ...  Daily Deceased  Total Deceased
count       478.000000     4.780000e+02  ...      478.000000      478.000000
mean      54995.529289     6.294503e+06  ...      617.089958    87415.654812
std       87250.607082     6.199014e+06  ...      895.591405    75238.905902
min           0.000000     1.000000e+00  ...        0.000000        0.000000
25%        7371.250000     1.673925e+05  ...      100.000000     4777.250000
50%       23662.000000     5.858972e+06  ...      342.000000    92279.500000
75%       61675.500000     1.063689e+07  ...      775.000000   152591.750000
max      414280.000000     2.628786e+07  ...     4529.000000   294969.000000

[8 rows x 6 columns]

In [ ]:
len(df.index)

478

df.tail() This function returns last n rows from the object based on position.

In [ ]:
df.tail(10)

            Date    Date_YMD  ...  Daily Deceased  Total Deceased
468  12 May 2021  2021-05-12  ...            4128          257762
469  13 May 2021  2021-05-13  ...            4000          261762
470  14 May 2021  2021-05-14  ...            3889          265651
471  15 May 2021  2021-05-15  ...            4077          269728
472  16 May 2021  2021-05-16  ...            4098          273826
473  17 May 2021  2021-05-17  ...            4334          278160
474  18 May 2021  2021-05-18  ...            4529          282689
475  19 May 2021  2021-05-19  ...            3877          286566
476  20 May 2021  2021-05-20  ...            4209          290775
477  21 May 2021  2021-05-21  ...            4194          294969

[10 rows x 8 columns]

In [ ]:
validate = df['Daily Confirmed'].tail(10)
df.drop(df['Daily Confirmed'].tail(10).index,inplace=True)
df['Date_YMD'] =  pd.to_datetime(df['Date_YMD'])

In [ ]:
uni_data = df['Daily Confirmed']
uni_data.index = df['Date_YMD']
uni_data.head()

Date_YMD
2020-01-30    1
2020-01-31    0
2020-02-01    0
2020-02-02    1
2020-02-03    1
Name: Daily Confirmed, dtype: int64

In [ ]:
uni_data = uni_data.values
scaler_x = preprocessing.MinMaxScaler()
x_rescaled = scaler_x.fit_transform(uni_data.reshape(-1, 1))

In [ ]:
def custom_ts_univariate_data_prep(dataset, start, end, window, horizon):
  X = []
  y = []

  start = start + window
  if end is None:
    end = len(dataset) - horizon

  for i in range(start, end):
    indicesx = range(i-window, i)
    X.append(np.reshape(dataset[indicesx], (window, 1)))
    indicesy = range(i,i+horizon)
    y.append(dataset[indicesy])
  return np.array(X), np.array(y)

In [ ]:
univar_hist_window = 10
horizon = 10
TRAIN_SPLIT = 300
x_train_uni, y_train_uni = custom_ts_univariate_data_prep(x_rescaled, 0, TRAIN_SPLIT,univar_hist_window, horizon)
x_val_uni, y_val_uni = custom_ts_univariate_data_prep(x_rescaled, TRAIN_SPLIT, None,univar_hist_window,horizon)

In [ ]:
print ('Single window of past history')
print (x_train_uni[0])
print ('\n Target horizon')
print (y_train_uni[0])

Single window of past history
[[2.4138264e-06]
 [0.0000000e+00]
 [0.0000000e+00]
 [2.4138264e-06]
 [2.4138264e-06]
 [0.0000000e+00]
 [0.0000000e+00]
 [0.0000000e+00]
 [0.0000000e+00]
 [0.0000000e+00]]

 Target horizon
[[0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]]

In [ ]:
BATCH_SIZE = 25
BUFFER_SIZE = 150

train_univariate = tf.data.Dataset.from_tensor_slices((x_train_uni, y_train_uni))
train_univariate = train_univariate.cache().shuffle(BUFFER_SIZE).batch(BATCH_SIZE).repeat()

val_univariate = tf.data.Dataset.from_tensor_slices((x_val_uni, y_val_uni))
val_univariate = val_univariate.batch(BATCH_SIZE).repeat()

In [ ]:
model = Sequential()
model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(x_train_uni.shape[1], x_train_uni.shape[2])))
model.add(MaxPool1D(pool_size=2))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(30, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(horizon))
model.compile(optimizer='adam', loss='mse')

In [ ]:
model_path = r'CNN_Univarient_1.h5'

In [ ]:
EVALUATION_INTERVAL = 50
EPOCHS = 150
history = model.fit(train_univariate, epochs=EPOCHS,steps_per_epoch=EVALUATION_INTERVAL,validation_data=val_univariate, validation_steps=50,verbose =1,
                              callbacks =[tf.keras.callbacks.EarlyStopping(monitor='val_loss', min_delta=0, patience=10, verbose=1, mode='min'),tf.keras.callbacks.ModelCheckpoint(model_path,monitor='val_loss', save_best_only=True, mode='min', verbose=0)])

Epoch 1/150
50/50 [==============================] - 1s 9ms/step - loss: 0.0055 - val_loss: 0.0295
Epoch 2/150
50/50 [==============================] - 0s 3ms/step - loss: 0.0016 - val_loss: 0.0237
Epoch 3/150
50/50 [==============================] - 0s 3ms/step - loss: 0.0013 - val_loss: 0.0264
Epoch 4/150
50/50 [==============================] - 0s 3ms/step - loss: 0.0012 - val_loss: 0.0240
Epoch 5/150
50/50 [==============================] - 0s 3ms/step - loss: 9.5409e-04 - val_loss: 0.0245
Epoch 6/150
50/50 [==============================] - 0s 3ms/step - loss: 8.6650e-04 - val_loss: 0.0269
Epoch 7/150
50/50 [==============================] - 0s 3ms/step - loss: 7.7976e-04 - val_loss: 0.0232
Epoch 8/150
50/50 [==============================] - 0s 3ms/step - loss: 7.3406e-04 - val_loss: 0.0210
Epoch 9/150
50/50 [==============================] - 0s 3ms/step - loss: 7.0732e-04 - val_loss: 0.0219
Epoch 10/150
50/50 [==============================] - 0s 3ms/step - loss: 6.9962e-04 - val_loss: 0.0211
Epoch 11/150
50/50 [==============================] - 0s 3ms/step - loss: 6.9571e-04 - val_loss: 0.0193
Epoch 12/150
50/50 [==============================] - 0s 3ms/step - loss: 5.3321e-04 - val_loss: 0.0194
Epoch 13/150
50/50 [==============================] - 0s 3ms/step - loss: 5.8625e-04 - val_loss: 0.0192
Epoch 14/150
50/50 [==============================] - 0s 3ms/step - loss: 5.3756e-04 - val_loss: 0.0185
Epoch 15/150
50/50 [==============================] - 0s 3ms/step - loss: 5.6042e-04 - val_loss: 0.0168
Epoch 16/150
50/50 [==============================] - 0s 3ms/step - loss: 5.6823e-04 - val_loss: 0.0147
Epoch 17/150
50/50 [==============================] - 0s 3ms/step - loss: 5.3364e-04 - val_loss: 0.0156
Epoch 18/150
50/50 [==============================] - 0s 3ms/step - loss: 4.9822e-04 - val_loss: 0.0170
Epoch 19/150
50/50 [==============================] - 0s 3ms/step - loss: 4.9956e-04 - val_loss: 0.0148
Epoch 20/150
50/50 [==============================] - 0s 3ms/step - loss: 4.8838e-04 - val_loss: 0.0152
Epoch 21/150
50/50 [==============================] - 0s 3ms/step - loss: 4.4955e-04 - val_loss: 0.0149
Epoch 22/150
50/50 [==============================] - 0s 3ms/step - loss: 4.7616e-04 - val_loss: 0.0113
Epoch 23/150
50/50 [==============================] - 0s 3ms/step - loss: 4.4896e-04 - val_loss: 0.0124
Epoch 24/150
50/50 [==============================] - 0s 3ms/step - loss: 4.5779e-04 - val_loss: 0.0108
Epoch 25/150
50/50 [==============================] - 0s 3ms/step - loss: 4.1621e-04 - val_loss: 0.0125
Epoch 26/150
50/50 [==============================] - 0s 3ms/step - loss: 4.4672e-04 - val_loss: 0.0105
Epoch 27/150
50/50 [==============================] - 0s 3ms/step - loss: 4.5558e-04 - val_loss: 0.0136
Epoch 28/150
50/50 [==============================] - 0s 3ms/step - loss: 4.2719e-04 - val_loss: 0.0098
Epoch 29/150
50/50 [==============================] - 0s 3ms/step - loss: 4.6678e-04 - val_loss: 0.0110
Epoch 30/150
50/50 [==============================] - 0s 3ms/step - loss: 4.7225e-04 - val_loss: 0.0121
Epoch 31/150
50/50 [==============================] - 0s 3ms/step - loss: 4.3060e-04 - val_loss: 0.0115
Epoch 32/150
50/50 [==============================] - 0s 3ms/step - loss: 4.6972e-04 - val_loss: 0.0121
Epoch 33/150
50/50 [==============================] - 0s 3ms/step - loss: 4.1865e-04 - val_loss: 0.0099
Epoch 34/150
50/50 [==============================] - 0s 3ms/step - loss: 4.3307e-04 - val_loss: 0.0094
Epoch 35/150
50/50 [==============================] - 0s 3ms/step - loss: 4.3059e-04 - val_loss: 0.0101
Epoch 36/150
50/50 [==============================] - 0s 3ms/step - loss: 4.1323e-04 - val_loss: 0.0095
Epoch 37/150
50/50 [==============================] - 0s 3ms/step - loss: 3.9714e-04 - val_loss: 0.0117
Epoch 38/150
50/50 [==============================] - 0s 3ms/step - loss: 4.6718e-04 - val_loss: 0.0124
Epoch 39/150
50/50 [==============================] - 0s 3ms/step - loss: 4.2474e-04 - val_loss: 0.0105
Epoch 40/150
50/50 [==============================] - 0s 3ms/step - loss: 4.3700e-04 - val_loss: 0.0089
Epoch 41/150
50/50 [==============================] - 0s 3ms/step - loss: 3.6461e-04 - val_loss: 0.0098
Epoch 42/150
50/50 [==============================] - 0s 3ms/step - loss: 3.7169e-04 - val_loss: 0.0101
Epoch 43/150
50/50 [==============================] - 0s 3ms/step - loss: 3.6416e-04 - val_loss: 0.0085
Epoch 44/150
50/50 [==============================] - 0s 3ms/step - loss: 4.6982e-04 - val_loss: 0.0097
Epoch 45/150
50/50 [==============================] - 0s 3ms/step - loss: 3.7885e-04 - val_loss: 0.0090
Epoch 46/150
50/50 [==============================] - 0s 3ms/step - loss: 4.2613e-04 - val_loss: 0.0084
Epoch 47/150
50/50 [==============================] - 0s 3ms/step - loss: 4.5387e-04 - val_loss: 0.0102
Epoch 48/150
50/50 [==============================] - 0s 3ms/step - loss: 4.2029e-04 - val_loss: 0.0088
Epoch 49/150
50/50 [==============================] - 0s 3ms/step - loss: 4.4116e-04 - val_loss: 0.0084
Epoch 50/150
50/50 [==============================] - 0s 3ms/step - loss: 4.1800e-04 - val_loss: 0.0086
Epoch 51/150
50/50 [==============================] - 0s 3ms/step - loss: 4.2212e-04 - val_loss: 0.0080
Epoch 52/150
50/50 [==============================] - 0s 3ms/step - loss: 3.8747e-04 - val_loss: 0.0086
Epoch 53/150
50/50 [==============================] - 0s 3ms/step - loss: 4.4365e-04 - val_loss: 0.0081
Epoch 54/150
50/50 [==============================] - 0s 3ms/step - loss: 3.9916e-04 - val_loss: 0.0080
Epoch 55/150
50/50 [==============================] - 0s 3ms/step - loss: 4.0416e-04 - val_loss: 0.0095
Epoch 56/150
50/50 [==============================] - 0s 3ms/step - loss: 4.5212e-04 - val_loss: 0.0102
Epoch 57/150
50/50 [==============================] - 0s 3ms/step - loss: 4.1546e-04 - val_loss: 0.0086
Epoch 58/150
50/50 [==============================] - 0s 3ms/step - loss: 4.0912e-04 - val_loss: 0.0088
Epoch 59/150
50/50 [==============================] - 0s 3ms/step - loss: 3.8153e-04 - val_loss: 0.0082
Epoch 60/150
50/50 [==============================] - 0s 3ms/step - loss: 3.6927e-04 - val_loss: 0.0074
Epoch 61/150
50/50 [==============================] - 0s 3ms/step - loss: 3.5528e-04 - val_loss: 0.0094
Epoch 62/150
50/50 [==============================] - 0s 3ms/step - loss: 4.5459e-04 - val_loss: 0.0085
Epoch 63/150
50/50 [==============================] - 0s 3ms/step - loss: 4.4777e-04 - val_loss: 0.0087
Epoch 64/150
50/50 [==============================] - 0s 3ms/step - loss: 3.9515e-04 - val_loss: 0.0083
Epoch 65/150
50/50 [==============================] - 0s 3ms/step - loss: 3.8380e-04 - val_loss: 0.0088
Epoch 66/150
50/50 [==============================] - 0s 3ms/step - loss: 3.7168e-04 - val_loss: 0.0092
Epoch 67/150
50/50 [==============================] - 0s 2ms/step - loss: 3.6519e-04 - val_loss: 0.0084
Epoch 68/150
50/50 [==============================] - 0s 3ms/step - loss: 4.0502e-04 - val_loss: 0.0094
Epoch 69/150
50/50 [==============================] - 0s 3ms/step - loss: 4.1944e-04 - val_loss: 0.0061
Epoch 70/150
50/50 [==============================] - 0s 3ms/step - loss: 4.0142e-04 - val_loss: 0.0072
Epoch 71/150
50/50 [==============================] - 0s 3ms/step - loss: 3.8506e-04 - val_loss: 0.0062
Epoch 72/150
50/50 [==============================] - 0s 3ms/step - loss: 4.5011e-04 - val_loss: 0.0093
Epoch 73/150
50/50 [==============================] - 0s 3ms/step - loss: 3.5442e-04 - val_loss: 0.0084
Epoch 74/150
50/50 [==============================] - 0s 3ms/step - loss: 4.0633e-04 - val_loss: 0.0074
Epoch 75/150
50/50 [==============================] - 0s 3ms/step - loss: 4.0388e-04 - val_loss: 0.0082
Epoch 76/150
50/50 [==============================] - 0s 3ms/step - loss: 3.6261e-04 - val_loss: 0.0062
Epoch 77/150
50/50 [==============================] - 0s 3ms/step - loss: 3.8470e-04 - val_loss: 0.0102
Epoch 78/150
38/50 [=====================>........] - ETA: 0s - loss: 4.2354e-04

In [ ]:
# Recreate the exact same model, including its weights and the optimizer
Trained_model = tf.keras.models.load_model(model_path)

In [ ]:
# Show the model architecture
Trained_model.summary()

In [ ]:
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('Model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train loss', 'validation loss'], loc='upper left')
plt.rcParams["figure.figsize"] = [16,9]
plt.show()

In [ ]:
uni = df['Daily Confirmed']
validatehori = uni.tail(10)

In [ ]:
validatehist = validatehori.values
scaler_val = preprocessing.MinMaxScaler()
val_rescaled = scaler_x.fit_transform(validatehist.reshape(-1, 1))

In [ ]:
val_rescaled = val_rescaled.reshape((1, val_rescaled.shape[0], 1))

In [ ]:
Predicted_results = Trained_model.predict(val_rescaled)

In [ ]:
Predicted_results

In [ ]:
Predicted_inver_res = scaler_x.inverse_transform(Predicted_results)

In [ ]:
Predicted_inver_res

In [ ]:
from sklearn import metrics
def timeseries_evaluation_metrics_func(y_true, y_pred):
    
    def mean_absolute_percentage_error(y_true, y_pred): 
        y_true, y_pred = np.array(y_true), np.array(y_pred)
        return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
    print('Evaluation metric results:-')
    print(f'MSE is : {metrics.mean_squared_error(y_true, y_pred)}')
    print(f'MAE is : {metrics.mean_absolute_error(y_true, y_pred)}')
    print(f'RMSE is : {np.sqrt(metrics.mean_squared_error(y_true, y_pred))}')
    print(f'MAPE is : {mean_absolute_percentage_error(y_true, y_pred)}')
    print(f'R2 is : {metrics.r2_score(y_true, y_pred)}',end='\n\n')

In [ ]:
timeseries_evaluation_metrics_func(validate,Predicted_inver_res[0])

In [ ]:
plt.plot( list(validate))
plt.plot( list(Predicted_inver_res[0]))
plt.title("Actual vs Predicted")
plt.ylabel("Traffic volume")
plt.legend(('Actual','predicted'))
plt.show()